* {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  user-select: none;
}

button {
  width: 100px;
  height: 25px;
  margin: 20px;
}

#title {
  font-size: 35px;
}

#content,
#allCards {
  margin: 30px;
  display: flexbox;
  align-content: center;
}

.cardImg,
.allCrds {
  border-radius: 5px;
  border: black 2px solid;
  margin: 10px auto;
  width: 380px;
  height: 312px;
  background-color: ghostwhite;
}

.allCrds {
  display: inline-block;
  margin: 10px;
}

.pic {
  display: inline-grid;
  font-size: 50px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 16px 20px 10px 5px;
  cursor: pointer;
}

.hide {
  display: none;
}